<h1>Dice Roll</h1>

<form action="/process_roll">
  <label for="num_box">Number of dice to roll?</label>
  <input id="num_box" name="dice">
  <label for="side_box">How many sides per die?</label>
  <input id="side_box" name="sides">
  <button>Roll!</button>
</form>
